body{
  margin: 0;
  padding: 0;
}

.background{
    min-height: 100vh;
    background-color: #f5f5f3;
    padding: 50px 0;
}

.main{
    width: 800px;
    background-color: #f5f5f3;
    margin: 0 auto;
}

.form {
    display: flex;
}

.input_area{
    padding: 25px 20px;
    margin: 30px auto 40px;
    background-color: #dededa;
}

input[type="submit"] {
    width: 80px;
    text-align: center;
    border: none;
    background-color: #3AC0FB;
    color: #fff;
    margin-left: 10px;
}

input[type="text"] {
    width: 700px;
    height: 40px;
    border: none;
    padding: 0 15px;
}

.list_area{
    background-color: #fff;
    padding: 30px 5px;
    min-height: 700px;
    overflow: scroll;
}

.post_list{
   width: 700px;
    height: 42px;
    padding: 0px 20px;
    margin: 15px 20px;
    margin-bottom: 5px;
    line-height: 42px;
    background-color: #f9f9f7;
    border: 1px solid #efefec;
}

.message {
    width: 300px;
    height: 120px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}